<configuration>

    <property name="SERVICE_NAME" value="LogbackService"/>
    <property name="HOME_LOG" value="logs/app.log"/>

    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %5p [Service Name: ${SERVICE_NAME}] ${PID:- } --- [%t] %-15.40logger{20} : %m%n}"/>
    <property name="TRACE_ARCHIVE_FILE_PATTERN" value="./logs/trace/archive/${SERVICE_NAME}-trace-log.%d{yyyy-MM-dd-HH}.%i.log.gz"/>
    <property name="ERROR_ARCHIVE_FILE_PATTERN" value="./logs/error/archive/${SERVICE_NAME}-error-log.%d{yyyy-MM-dd-HH}.%i.log.gz"/>


    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd-HH}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10KB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.mkyong" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>